################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/MoveDronePicture/v17
/MoveDronePicture/.vs/MoveDronePicture
/MoveDronePicture/MoveDronePicture/bin/Debug
/MoveDronePicture/MoveDronePicture/obj/Debug
/MoveDronePicture/packages
/MoveDronePicture/MoveDronePicture/.vs
